{% extends "view/layout.html" %}
{% load static %}

{% block body %}
{% csrf_token %}
      <div id="fileInputContainer">
        <div>
          <label for="fileInput"></label>
          <input type="file" id="fileInput" multiple accept=".txt">
        </div>
      </div>
      <button class="save-button" id="downloadButton" style="display: none;">SAVE</button>
      <p>
      <div id="fileList"></div>
{% endblock %}

{% block script %}
    <script src="{% static 'view/index.js' %}"></script>
{% endblock %}